<div class="ui small inverted menu menu-header">
  <div class="ui container">
    <%= link_to 'Chatroom', root_path, class: 'item' %>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
          <% if logged_in? %>
            <%= link_to 'Sign Out', sign_out_path, method: :delete,  class: 'item' %>  
          <% else %>
            <a class="item">Sign up</a>
            <%= link_to 'Sign In', sign_in_path, class: 'item' %>  
          <% end %>
        </div>
      </div>
      <div class="item">
        <div class="ui horizontal list">
          <% if logged_in? %>
            <%= link_to 'Sign Out', sign_out_path, method: :delete,  class: 'ui red button' %>  
          <% else %>
            <%= link_to 'Sign Up', sign_in_path, class: 'ui primary button' %>
            <%= link_to 'Sign In', sign_in_path, class: 'ui green button' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>